@use './variables' as *;

@function checkExists($mapName, $keyName){
    @return map-has-key($map: $mapName, $key: $keyName);
}
@function getColor($colorName : 'error'){
    @return map-get($map: $colors, $key: $colorName);
}
@function getFont($fontName : 'error'){
    @return map-get($map: $fonts, $key: $fontName);
}
@function getFontSize($fontSize : 'error'){
    @return map-get($map: $font-sizes, $key: $fontSize);
}
@function getFontWeight($fontWeight : 'error'){
    @return map-get($map: $font-weights, $key: $fontWeight);
}
@function getIconSize($iconSize : 'error'){
    @return map-get($map: $font-sizes, $key: $iconSize);
}

//Font mixins
@mixin fontMixin($fontName, $fontColor, $fontSize, $fontWeight){
    font-family: getFont($fontName);
    color: getColor($fontColor);
    font-size: getFontSize($fontSize);
    font-weight: getFontWeight($fontWeight);
}

//Icon mixins
@mixin iconSizeMixin($iconSize){
    width: $iconSize;
    height: $iconSize;
}

@mixin iconPositionMixin{
    user-select: none;
    pointer-events: none;
}

//Image mixins
@mixin imageMixin($width, $height){
    width: $width;
    max-width: $width;
    
    height: $height;
    max-height: $height;
    min-height: $height;
    object-fit: contain;
}

//Container mixins
@mixin flexContainerMixin($direction: row, $justify: center, $align: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexColumnContainerMixin{
    @include flexContainerMixin(column, flex-start, flex-start);
    gap: 8px;
}

//Button mixins
@mixin buttonMixin($buttonSize : 26px){
    border: 1px solid #1D1F22;
    padding: 4px;
    height: $buttonSize;
    // cursor: pointer;
    text-align: center;
    vertical-align: middle;
    user-select: none;
}

@mixin buttonLargeMixin($fontSize: 'main-small'){
    @include fontMixin('raleway', '--c-white', $fontSize, 'semi-bold');
    width: 100%;
    background-color: getColor('--c-primary');
    padding: 16px 32px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}

//Scrollbar mixins

@mixin customScrollbarMixin($width : 5px){
    overflow-y: scroll;
    overflow-y: overlay;

    &::-webkit-scrollbar{
        background-color: transparent;
        width: $width;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgba(getColor('--c-gray'), .15);
        border-radius: 10px;
        visibility: hidden;
    }
    &:hover::-webkit-scrollbar-thumb{
        visibility: visible;
    }
}

