@use '../Common//index' as *;

$contentLength : 90%;

.outlet{
    // min-width: 330px;
    position: relative;
    #{&}_content{
        position: relative;
        width: $contentLength;
        margin: $outlet-margin auto;
        //Fixed navbar code
        margin: calc($outlet-margin * 3.125) auto calc($outlet-margin * (3.125 / 2)) auto;
    }
}

.global_header{
    z-index: 10;
    height: 80px;
    max-height: 80px;
    min-height: 80px;
    background-color: getColor('--c-white');
    position: relative;
    //Fixed navbar code
    position: fixed;
    top: 0;
    width: 100%;

    .navbar{
        @include flexContainerMixin(row, space-between);

        width: $contentLength;
        height: inherit;
        margin: 0 auto;
        position: relative;

        &_navigation{
            @include flexContainerMixin;
            
            align-self: flex-end;
            height: 56px;
            
            .category{
                @include fontMixin('raleway', '--c-black', 'main-medium', 'regular');
                text-transform: uppercase;
                padding: 0 16px;
                height: inherit;
                cursor: pointer;
                user-select: none;
                transition: color .3s;

                &:hover{
                    color: getColor('--c-primary');
                }
            }

            .category_active{
                @extend .category;
                color: getColor('--c-primary');
                font-weight: getFontWeight('semi-bold');
                border-bottom: 2px solid getColor('--c-primary');
            }
        }

        &_logo{
            position: absolute;
            left: 50%;
            user-select: none;
            pointer-events: none;
            img{
                @include iconPositionMixin;
            }
        }

        &_actions{
            display: grid;
            grid-template-columns: repeat(4, 40px) min-content;
            gap: 22px;

            & > *{
                height: 40px;
            }

            .cart_btn, .currency_btn{
                @include flexContainerMixin(row, space-evenly, center);
            }
            .cart_btn{
                cursor: pointer;
            }

            .cart_btn{
                position: relative;
                
                img{
                    z-index: 2;
                }
                &_value{
                    @include fontMixin('roboto', '--c-white', 'main-small', 'bold');
                    @include flexContainerMixin;
                    z-index: 1;
                    position: absolute;
                    bottom: 20px;
                    border-radius: 50%;
                    left: 60%;
                    width: 20px;
                    height: 20px;
                    background-color: getColor('--c-black');
                }
            }
        }
    }
}

.fetch_error_message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include fontMixin('roboto', '--c-gray', 'secondary', 'medium');
}

@media (max-width: 700px){
    .global_header{
        .navbar{
            &_logo{
                display: none;
            }
            &_actions{
                gap: 0;
                justify-content: end;
                grid-template-columns: repeat(2, 40px) min-content;

                & > div:first-child, & > div:nth-child(2){
                    display: none;
                }

                .cart_btn, .currency_btn{
                    padding-top: 5px;
                    @include flexContainerMixin(column, flex-start, flex-start);
                }
            }
        }
    }
}