@use '../Common/index' as *;
@use './ItemAttributes' as *;

$buttonSize : 26px;

.cart_item{
    width: 100%;
    @include flexContainerMixin(row, flex-end, stretch);
    gap: 4px;
    align-items: stretch;


    &_content{
        flex: 1;
        max-width: 125px;
        @include flexColumnContainerMixin;
        
        .item_name{
            @include flexColumnContainerMixin;
            @include fontMixin('raleway', '--c-black', 'main-medium', 'thin');
            
            p, strong{
                word-wrap: break-word;
            }

            strong{
                @include fontMixin('raleway', '--c-black', 'main-medium', 'medium');
            }
        }

        //.item_attributes{} Place of item attributes
    }
    &_actions{
        flex: .25;
        @include flexContainerMixin(column, space-between);
        
        .cart_item_count_btn{
            @include fontMixin('raleway', '--c-black', 'small-medium', 'medium');
        }

        .cart_item_actions_btn{
            @include buttonMixin($buttonSize);
            @include fontMixin('raleway', '--c-black', 'header-small', 'thin');
            @include flexContainerMixin;
            cursor: pointer;
            width: $buttonSize;
            height: $buttonSize;
        }
    }
    &_img{
        flex: .8;
        width: 170px;
        height: 190px; //To stretch, unset this height
        position: relative;

        & > img{
            width: 100%;
            max-width: 100%;
            min-width: 100%;

            height: 100%;
            max-height: 100%;
            min-height: 100%;

            
            object-fit: contain;
        }

        &_slider{
            position: absolute;
            right: 5%;
            bottom: 3.5%;
            z-index: 2;

            img{
                cursor: pointer;
                background-color: lighten(rgb(0, 0, 0, .73), 50%);
                padding: 5px;
                width: 22px;
                height: 22px;

                &:hover{
                    background-color: rgb(0, 0, 0, .73);
                }

            }
            img:first-child{
                transform: rotate(180deg);
                margin-right: 5px;
            }
        }
    }
}