@use '../Common/index' as *;

.loading_bar_wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: opacityAnim1 1s;

    .loading_bar{
        width: 10vw;
        height: 10vw;
    
        border: 10px solid rgb(244, 244, 244);
        $color-dark: rgb(238, 238, 238);
        border-top-color: $color-dark;
        border-left-color: $color-dark;
        border-bottom-color: $color-dark;
        border-radius: 50%;
        background-color: transparent;
        z-index: 2;

        animation: rotateAnim 1s ease infinite;
    }
}

@media (max-width: 600px) {
    .loading_bar_wrapper{
        .loading_bar{
            width: 25vw;
            height: 25vw;
        }
    }
}

@keyframes rotateAnim{
    to{
        transform: rotate(360deg);
    }
}