@use './SCSS/Common/index' as *; 

html, *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  color: getColor('--c-black');
  font-family: getFont('raleway'), sans-serif;
  background-color: transparent;
  scroll-behavior: smooth;
}

// * {
//   outline: 1px solid #f00 !important;
// }

a {
  text-decoration: none;
}